* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

:root {
    --primary: #fe2c55;
}




body {
    padding: 0 128px;
}

section {
    margin-top: 32px;
}

main {
    padding: 32px 64px;
}

.header-content {
    text-align: center;
    margin-top: 12px;

}

#root {
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
    padding: 32px 0px;
    margin: 12px 0;
}

.nav-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 12px 12px;
}

.nav-btn {
    list-style-type: none;
    padding: 8px 16px;
    border: 1px solid #dddd;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s linear;
}

.nav-btn:hover {
    border: 1px solid rgba(254, 44, 85, 1);
    background-color:  rgba(254, 44, 85, 0.25);
}

.nav-btn + .nav-btn {
    margin-left: 12px;
}

.nav-btn a {
    text-decoration: none;
    color: #000;
}


.content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#ft-infor li {
    list-style-type: none;
}