* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

.center {
    width: 120px;
    height: 60px;
    position: relative;
}

#Container {
    width: 100%;
    height: 100%;
    background: rgba(220, 20, 60, 0.5);
    padding: 300px 300px;
}
#btn {
    width: 120px;
    height: 60px;
    background: transparent;
    border: 1px solid rgba(220, 20, 60, 0.7);
    outline: none;
}

svg {
    position: absolute;
    left: 0;
    top: 0;
    fill: none;
    stroke: rgba(220, 20, 60, 1);
    stroke-dasharray: 80 120;
    /* stroke-dashoffset: 80; */
    transition: 1s ease-in-out;
  }
  
  #btn:hover {  
    transition: 1s ease-in-out;
    background: rgba(220, 20, 60, 0.5);
  }
  
  #btn:hover svg {
    stroke-dashoffset: -354;
  }
  
  #btn span {
    color: white;
    font-size: 18px;
    font-weight: 100;
  }