body {
    max-width: 1024px;
    margin: 0 auto;
    font: 1.2em Helvetica, arial, sans-serif;
    display: grid;
    grid-template-areas:
        'header-cell'
        'nav-cell'
        'main-cell'
        'footer-cell';
}
main,
header,
footer {
    border: 1px solid #ccc7c8;
    background-color: #fff;
    border-radius: 5px;
}
header {
    grid-area: header-cell;
    margin-bottom: 2px;
    height: 100px;
    padding: 0 5px;
    background-image: url(images/header.png);
}
#header-img1 {
    height: 100px;
    position: absolute;
    top: -30px;
    animation: img1 3s;
    animation-fill-mode: forwards;
}
@keyframes img1 {
    from {
        left: 80%;
    }
    to {
        left: 30%;
    }
}
#header-img2 {
    height: 70px;
    position: absolute;
    top: -5px;
    animation: img2 3s;
    animation-fill-mode: forwards;
}
@keyframes img2 {
    from {
        left: 80%;
    }
    to {
        left: 45%;
    }
}
#header-img3 {
    height: 80px;
    position: absolute;
    top: 0;
    animation: img3 3s;
    animation-fill-mode: forwards;
}
@keyframes img3 {
    from {
        left: 80%;
    }
    to {
        left: 63%;
    }
}
nav {
    grid-area: nav-cell;
    margin-top: 20px;
}
nav a {
    float: left;
    margin: 3px;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 2px 4px;
    height: 20px;
    background: #ffffff80;
    text-decoration: none;
    font-size: 17px;
    color: #ed4190;
    text-align: center;
    box-shadow: 0 0 3px 0 #00000066, 0 0 2px 0 #0000004d;
}
nav a:hover {
    color: #fff;
    background: #ed4190;
}
.search-container {
    float: right;
    padding-top: 3px;
}
.icon-white,
.icon-pink {
    padding: 4px;
    background: #cddc39;
    min-width: 30px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.icon-pink {
    color: #ed4190;
    margin-left: 5px;
}

main {
    grid-area: main-cell;
    display: grid;
    padding: 0 5px;
}
main.one-col {
    grid-template-areas:
        'left-cell'
        'article-cell'
        'right-cell';
}
main.two-cols-left {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 'left-cell article-cell';
}
main.two-cols-right {
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 'article-cell right-cell';
}
main.three-cols {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 'left-cell article-cell right-cell';
}
article {
    grid-area: article-cell;
}
aside.left-side {
    grid-area: left-cell;
}
aside.righ-side {
    grid-area: right-cell;
}
aside.left-side,
aside.righ-side {
    margin: 2px;
    padding: 5px;
    text-align: justify;
    text-justify: inter-word;
}
footer {
    grid-area: footer-cell;
    text-align: center;
    margin-top: 2px;
}
h1,
h2,
h3 {
    color: #f90b6d;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
h1 {
    margin: 12px 0 16px;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    text-transform: uppercase;
}
h1:after {
    position: relative;
    left: 50%;
    display: block;
    content: ' ';
    width: 200px;
    height: 3px;
    transform: skewX(-12deg) translateX(-50%);
    background: radial-gradient(#cddc39, #fff);
}
h2 {
    margin: 5px 0 10px;
    font-size: 24px;
    line-height: 28px;
}
h3 {
    margin: 0 0 10px;
    font-size: 20px;
    line-height: 24px;
}
h3.break-column {
    break-before: column;
}
.round-figure {
    border-radius: 5px;
}
.image-left img,
.image-left video {
    float: left;
    width: 30%;
}
.image-left p,
.image-right p {
    margin: 0;
    width: 69%;
}
.image-left p {
    float: right;
}
.image-right img,
.image-right video {
    width: 29%;
    float: right;
}
.image-right p {
    float: left;
}
.detail {
    padding: 0 5px;
    margin-bottom: 5px;
    text-align: justify;
}
.order-step {
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
}
.order-step div {
    border: 1px solid #ed4190;
    border-radius: 5px;
    padding-top: 5px;
    width: 24%;
    display: inline-block;
}
/**Phần Trang chủ*/
article.main-content {
    display: grid;
    grid-template-columns: auto;
}
.col_list {
    column-count: 2;
}
/**Hết phần Trang chủ******/
footer .social-icon {
    text-decoration: none;
    color: #ed4190;
}
footer .gotop {
    position: fixed;
    padding: 10px;
    bottom: 5px;
    right: 10px;
    z-index: 100;
    width: 60px;
}
/**Phần trang Sản phẩm*/
.product {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 auto;
}
.product div {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 3px;
    border: 1px solid #dbd7d9;
    border-radius: 5px;
    background: linear-gradient(to top, #cddc39 0%, transparent 10%);
    text-align: justify;
    justify-items: center;
    align-items: center;
}
.product img {
    display: block;
    text-align: justify;
    margin: auto;
}
.product h2 {
    text-align: center;
}
.product .add-cart {
    display: inline-block;
    margin: 4px;
    padding: 3px;
    text-align: justify;
    line-height: 2;
}

/* Page Liên hệ */

.contact-icons {
    display: inline-flex;
    justify-content: center;
}

.contact-icons img {
    width: 24px;
    height: 24px;
}

.myDiv form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.myDiv .contact-table {
    display: inline-block !important;
}

.container {
    position: fixed;
    border: 1px solid red;
    border-radius: 5px;
    padding: 0 5px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 0 5px 0 #00000066, 0 0 5px 0 #0000004d;
}
#adsvercontainer {
    left: 0;
    top: 10px;
    height: 300px;
}

.adsvertext {
    white-space: wrap;
}
.adstext {
    position: absolute;
    left: 5px;
}
.adshorcontainer {
    bottom: 50px;
    height: 50px;
}
.adshortext {
    white-space: nowrap;
}

#headline {
    position: relative;
    margin: 0 auto;
    padding: 10px;
    width: 1035px;
    height: 300px;
}
#headline div {
    position: relative;
    margin: 0 auto;
}
#headline div img {
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
#headline div span {
    position: absolute;
    left: 10px;
    bottom: 10px;
    padding: 0 5px;
    border: 1px solid red;
    border-radius: 3px;
    background-color: white;
    z-index: 10;
}
