@import url(https://fonts.googleapis.com/css?family=Duru+Sans|Architects+Daughter);

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

:root {
    --bar-height: 14px;
    --bg: rgba(57, 57, 67, 1);
    --bg-darker: rgba(57, 57, 67, 0.08);
    --font-med: rgba(57, 57, 67, 0.15);
    --font-light: rgba(57, 57, 67, 0.3);
    --font-lighter: rgba(57, 57, 67, 0.4);

    --rose-color: #e83d89;
    --peac-color: #ffa894;
    --teal-color:#67cecd;
    --lime-color:#eaef91;
}

  body {
    min-height: 100vh;
    font-family: "Duru Sans";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 100%;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eeeeee;
  }

  

  #skill_box {
    position: relative;
    background-color: var(--bg);
    border-radius: 12px;
    width: 70vh;
  }

  #close {
    position: absolute;
    right: 10px;
    top: 10px;
    background: transparent;
    border: none;
    color: #eeeeee;
    font-size: 28px;
    opacity: 0.6;
    transition: all 0.1s ease;
  }

  #close:hover {
    opacity: 1;

  }

  .header-text {
    width: 100%;
    text-align: center;
    margin: 8px;
  }

  .main_box {
    width: 100%;
    display: flex;
    border-top: .5px solid #fff;
    padding: 10px 16px;
    flex-wrap: wrap;
    
  }

  .item_box {
    width: 50%;
    padding: 0px 12px;

  }

  .item-header-text {
    font-size: 16px;
    margin-bottom: 4px;
    font-weight: 600;
  }

  .progress {
    height: 15px;
    width: 100%;
    margin-bottom: 30px;
    padding-top: 1px;
    border-radius: 7px;
    background-color: #26262d;
    border-bottom: 1px solid #1f1f21;
    box-shadow: inset 0 2px 5px rgba(0,0,0,.3), 0 1px 0 rgba(255,255,255,.1);
    position: relative;
}

.progress #quantity {
  position: absolute;
  z-index: 10;
  font-weight: 800;
  top: 50%;
  left: 50%;
  font-size: 12px;
  transform: translate(-50%, -47%);
  text-shadow: .5px .5px #000, -.5px -.5px #000;
}

.progress .progress-bar {
    display: block;
    overflow: hidden;
    position: relative;
    height: 100%;
    margin-left: 1px;
    border-radius: 7px;
    min-width: 13px;
}


.progress .shade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.warm {
  background: var(--rose-color);
  background: -moz-linear-gradient(left, var(--rose-color) 30%, var(--peac-color) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(30%,var(--rose-color)), color-stop(100%,var(--peac-color)));
  background: -webkit-linear-gradient(left,  var(--rose-color) 30%,var(--peac-color) 100%);
  background: -o-linear-gradient(left,  var(--rose-color) 30%,var(--peac-color) 100%);
  background: -ms-linear-gradient(left,  var(--rose-color) 30%,var(--peac-color) 100%);
  background: linear-gradient(to right,  var(--rose-color) 30%,var(--peac-color) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67cecd', endColorstr='#eaef91',GradientType=1 );

  box-shadow: inset 0 1px 0 rgba(255,255,255,.3)
              ,inset 0 -3px 4px rgba(darken(var(--rose-color), 10%),.4);
}

